[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.0"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "aarch64-unknown-linux-musl", "x86_64-apple-darwin", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# Whether to enable GitHub Attestations
github-attestations = true
# Custom runners for macOS (macos-13 is deprecated)
github-custom-runners = { "aarch64-apple-darwin" = "macos-latest", "x86_64-apple-darwin" = "macos-15-intel" }
