name: 'CI'
on: [push, pull_request]
permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - name: Install cargo-nextest
      uses: taiki-e/install-action@nextest
    - run: cargo check --workspace
    - run: cargo nextest run --workspace --profile ci